{%extends 'base.html'%}

{%block title%} welcome title {%endblock%}

{%block content%}
<div>
  <h1 class="text-center"
    style="background-repeat: no-repeat; background-size: cover; padding: 150px 0; font-weight: bold; color: aliceblue; width: 100%; background-image: url(/media/{{cat.image}});">
    {{cat.title}}</h1>
</div>
<div class="container">
  <div class="collection">
    {%for p in posts%}
    <div class="col-12 mb-4">
      <div class="border row">
        <div class="col-md-8 col-12 card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">{{p.cat}}</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="/blog/{{p.url}}">{{p.title}}</a>
          </h3>
          <div class="mb-1 text-muted">{{p.created_date}}</div>
          <p class="card-text mb-auto">{{p.content |truncatewords:10| safe}}</p>
          <a href="/blog/{{p.url}}">Continue reading</a>
        </div>
        <img class="px-0 col-md-4 col-12" alt="" src="/media/{{p.image}}">
      </div>
    </div>
    {%empty%}
    <h5>No post in this Category</h5>
    {%endfor%}
  </div>
  {%include 'pagination.html' with page=posts %}
</div>

{%endblock%}