{%extends 'base.html'%}

{%block title%} {{post.title}} {%endblock%}

{%block content%}

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8 col-12">
      <img src="/media/{{post.image}}" alt="{{post.title}}" class="img-thumbnail"><br>
      <blockquote class="blockquote text-center my-4">
        <p class="mb-0">
          <h1>{{post.title}}</h1>
        </p>
        <footer class="blockquote-footer">Posted in: <cite title="Source Title">{{post.cat.title}}</cite></footer>
      </blockquote>
      <p>{{post.content|safe}}</p>
    </div>
    <div class="col-lg-4 col-12">
      <div class="alert bg-light" role="alert">
        Related Post
      </div>
      <ul class="col-12">
        {% for rel_post in related_posts %}
        <a href="/blog/{{rel_post.url}}" class="p-2 row p-0 text-dark list-group-item d-flex justify-content-between align-items-center">
          <h6 class="pl-0 py-2 col-12 col-md-7 mb-0">{{rel_post.title}}</h6>
          <div class="col-12 col-md-5 px-0 image-parent">
            <img style="max-width: 100%; border-radius: .25rem; min-width: 120px;object-fit: cover; min-height: 80px;"
              src="/media/{{rel_post.image}}"
              class="" alt="{{rel_post.title}}">
          </div>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{%endblock%}